<header>
  <h1>Checklist Manager</h1>
      <ul class="nav navbar-nav navbar">
          <li class="navbuttons"><%= link_to "Home", tasks_path, class: "btn btn-primary" %> </li>
        <% if signed_in? %>
          <li class="navbuttons"> <%= link_to "Sign Out", sign_out_path, method: :DELETE, class: "btn btn-danger" %> </li>
        <% else %>
          <li class="navbuttons"> <%= link_to "Sign In", sign_in_path, class: "btn btn-primary" %> </li>
          <li class="navbuttons"> <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %> </li>
        <% end %>
      </ul>
</header>
</body>
Edit an existing task:
  <%= form_for :task, url: "/tasks/#{@task.id}", method: :PUT do |task| %>
      <div>
        <%= task.label :body %>
        <%= task.text_field :body, class: 'input-field body', placeholder: "Type your task here.." %>
      </div>

      <div>
        <%= task.label :position %>
        <%= task.text_field :position, class: 'input-field position', placeholder: "What priority number is this?" %>
      </div>

    <div class='row'>
      <a class="waves-effect waves-light btn"><%= task.submit %></a>
    </div>
  <% end %>
</div>
</body>
